.advantage {
  width: 100%;
}

.advantage__title {
  .title-h2();
  margin-bottom: 24px;

  @media(min-width: @tablet-width)  {
    margin-bottom: 0;
  }

  @media(min-width: @desktop-width) {
    margin-bottom: 8px;
  }
}

.advantage__item {
  background-color: @white-basic;
  border-radius: 10px;
  padding: 16px;
  font-weight: 500;
  max-width: 540px;
  margin: 0 auto;

  @media(min-width: @tablet-width) {
    max-width: auto;
    width: calc(50% - 15px);
    min-height: 88px;
    padding: 14px 20px;
    box-sizing: border-box;

    &:first-child {
      margin-top: 24px;
    }
  }

  @media(min-width: 992px) {
    width: calc(100% / 3 - 20px);
  }
}

.advantage__item + .advantage__item {
  margin-top: 14px;

  @media(min-width: @tablet-width) {
    margin-top: 24px;
  }
}

.advantage__list {
  .list-reset();

  @media(min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 -12px;
  }
}
