
.documents__title {
  .title-h2();
  margin-bottom: 16px;

  @media(min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.documents__content figure {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.documents__content figure img {
  vertical-align: top;
  margin-bottom: 12px;

  @media(min-width: @desktop-width) {
    margin-top: 14px;
  }
}

.documents__content figure figcaption {
  text-align: center;
}

.documents__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: @decor-orange;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;

  @media(min-width: @desktop-width) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

.documents__photo {

  @media(min-width: @tablet-width) {
  width: 255px;
  height: 374px;
  }
}

.documents__caption  {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @decor-orange;
  text-align: center;
}