.form--bottom {
  background-color: #f6f7f8;
  max-width: 674px;
  margin: 0 auto;

  @media(min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form--bottom .form__border {
  @media(min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.form--bottom .form__wrapper {
  @media(min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}


.form__border {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
  }


.form__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #9B9B9B;
  margin-bottom: 6px;
  font-family: "Golos", "Arial", sans-serif;
}

.form__label {
  font-family: "Golos", "Arial", sans-serif;
  padding-left: 28px;
  position: relative;
  display: block;
  cursor: pointer;
}

//Input type=range

.form__meter {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  margin-top: -10px;

    option {
      font-family: "Golos", "Arial", sans-serif;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      color: #9B9B9B;
    }

    @media(min-width: 481px) {
      max-width: 500px;
      min-width: 318px;
    }

    @media(min-width: @desktop-width) {
      max-width: 318px;
    }
}

.form__import {
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: @color-text;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &--bottom {
    background-color: #f6f7f8;
  }
}

.form__import::placeholder {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: @color-text;
}

.form__range--bottom {
  background-color: #f6f7f8;
}

input[type=range] {
  width: 100%;
  appearance: none;
  overflow: hidden;

  @media(min-width: 481px) {
    max-width: 500px;
    min-width: 318px; 
  }

  @media(min-width: @desktop-width) {
    max-width: 318px;
  }
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background-color: @white-basic;
  border: 2px solid @decor-orange;
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: -5px;

  &:hover {
    transform: scale(1.5);
    transition: all 0.7s ease-out;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: @white-basic;
  border: 2px solid @decor-orange;
  border-radius: 50%;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: -5px;

  &:hover {
    transform: scale(1.5);
    transition: all 0.7s ease-out;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
  background-color: #d1d1d1;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 2px;
  background-color: #d1d1d1;
}

input[type=range]::-moz-range-progress {
  background-color: @decor-orange; 
}

input[type="range"]::-ms-fill-lower {
  background-color: @decor-orange; 
}

input[type="range"]::-ms-fill-upper {  
  background-color: #d1d1d1;
}


//Input - select

.form__wrapper {
  margin-bottom: 20px;
}


.form__control {
  width: 100%;
  background-color: #ECF1F7;
  border-radius: 3px;
  border: 1px  solid #ECF1F7;
  padding: 16px 14px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: @white-basic;
  }

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #8f8f8f;
  font-family: "Golos", "Arial", sans-serif;

  @media(min-width: 481px) {
    max-width: 500px;
    min-width: 318px; 
  }

  @media(min-width: @desktop-width) {
    max-width: 318px;
  }

  &--popup {
    padding-right: 24px;

    @media(min-width: 481px) {
      max-width: 318px;
    }
  }
}

.form__control option {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #8f8f8f;
  font-family: "Golos", "Arial", sans-serif;
}


//Button

.form__button {
  .btn(); 
  margin-bottom: 18px;
  box-sizing: border-box;

  &--white {
    min-width: 288px;
  }

  @media(min-width: 481px) {
    max-width: 500px;
  }

  @media(min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media(min-width: @desktop-width) {   
    max-width: 318px;
  }

  &--bottom {
    @media(min-width: @tablet-width) {
      max-width: 318px;
    }
  }

  &--popup  {
    @media(min-width: 481px) {
      max-width: 318px;
    }
  }
}

.form__text {
  color: #9b9b9b;
  margin: 0;

  @media(min-width: @tablet-width) {
    max-width: 318px;
  } 
}

//Popup 

.form--popup {
  background-color: @white-basic;
  padding: 32px 16px;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px ;

  @media(min-width: @desktop-width) {
    padding: 48px 60px;
  }
}

.form__popup-title {
  .title-h2();
  margin-bottom: 24px;

  @media(min-width: @desktop-width)  {
    margin-bottom: 32px;
  }
}

.form__flex {

  @media(min-width: @tablet-width) {
    display: flex;  
    flex-wrap: wrap;
  } 

  @media(min-width: 992px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.form__inner  {
  margin-bottom: 24px;

  @media(min-width: @tablet-width) {
    margin-right: 30px;
  }

  @media(min-width: 992px) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.form__description {
  color: #696969;
  margin: 0;
  margin-top: 15px;
  font-weight: 400;
}