.portfolio {
  width: 100%;
}

.portfolio__title {
  .title-h2();
  margin-bottom: 24px;
}

.portfolio__photo {
  max-width: 635px;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 14px;

  @media(min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.portfolio__img-link {
  display: block;
  margin: 0;
}

.portfolio__img {
  border-radius: 10px;
  margin: 0;
  display: block;
}

.portfolio__desc {
  background-color: @white-basic;
  padding: 16px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(min-width: @desktop-width) {
    padding: 20px 24px;
    min-width: 443px;
    box-sizing: border-box;
  }
}


.portfolio__flex {
    min-width: 0;
    max-width: 540px;
    margin: 0 auto;

  @media(min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
    margin: 0;
  }
}

//text {
  .portfolio__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 14px;

    @media(min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  .portfolio__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 2px;

    @media(min-width: @desktop-width) {
      margin-bottom: 4px;
    }

    span {
      color: @decor-orange;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .portfolio__text-list {
    .list-reset();
  }

  .portfolio__text-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: @decor-orange;
  }

  .portfolio__desc-medium {
    margin-bottom: 14px;

    .portfolio__text:first-of-type {
      margin-bottom: 14px;

      @media(min-width: @desktop-width) {
        margin-bottom: 4px;
      }
    }

    @media(min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

.portfolio__text-item--hidden {
  @media(min-width: @desktop-width) {
    display: none;
  }
}