.slider {
  text-align: center;
}

.slider__list {
  .list-reset();
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}

.slider__item  {
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}


/**Slick-slider**/

.slick-slider {
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}


/* Arrows */
.slider__list .slick-arrow {
	position: absolute;
	z-index: 10;
	font-size: 0;
	width: 10px;
	height: 16px;
  background: url('../img/icons/arrow-orange.svg') center center / 70% no-repeat;
  border: none;
  bottom: 0;

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.slider__list .slick-arrow.slick-next{
  transform: rotate(-180deg);
  left: 40px;
}

.slider__list .slick-arrow.slick-prev{
  right: 40px;
}

/* Arrows for master and advantage */
.master__list .slick-arrow.slick-prev,
.advantage__list .slick-arrow.slick-prev  {
	left: 16px;
  bottom: -10px;

  @media (min-width: @desktop-width) {
    left: -79px;
    top: 50%;
    margin-top: -50px;
  }
}

.master__list .slick-arrow.slick-next {
  right: 16px;
  bottom: -10px;

  @media (min-width: @desktop-width) {
    right: -79px;
    top: 50%;
    margin-top: -50px;
  }
}

/* Arrows for portfolio */
.portfolio__list .slick-arrow {
  top: 50%;
  margin-top: -30px;
}

.portfolio__list .slick-arrow.slick-prev  {
  left: 2px;
}

.portfolio__list .slick-arrow.slick-next  {
  right: 2px;
}

/* Dots */
.slider__list .slick-dots {
	display: flex;
	align-items: flex-start;
	justify-content: center;
  padding: 0;
}

.slider__list .slick-dots li {
	list-style: none;
	margin: 0px 5px;
}

.slider__list .slick-dots button {
	font-size: 0;
	width: 14px;
	height: 14px;
	background-color: #d9d9d9;
  cursor: pointer;
  border: none;
}

.slider .slick-dots li.slick-active button  {
  background-color: @decor-orange;
}

.portfolio__list .slick-dots {
  margin-top: -4px;

  @media (min-width: @desktop-width)  {
    margin-top: 2px;
  }
}

.master__list .slick-dots {
  margin-top: 8px;

  @media (min-width: @desktop-width)  {
    margin-top: 14px;
  }
}